.bundle
doc/
docs/
*~
coverage/
coverage.data
.idea
*.tar.gz
*.log
pid
config/certs
.rvmrc
.DS_Store
.ruby-version
.ruby-gemset

/tmp/*
!/tmp/.keep

spec/fixtures/assembly
spec/fixtures/export
spec/fixtures/workspace/*/*/*/*/*/temp/
workflow_service.log.*
